{% extends 'products/base.html' %}
{% block content %}

  <form method="post" enctype="multipart/form-data">
    <br>
    <p class="text-center">  <i class="fas fa-file"></i></p>
    <p class="text-center">файлы будут проверяться, после проверки вам поступит письмо на электронную почту, которую вы указали при регистрации. Сроки производства не изменятся , если технически файл сделан корректно. Требования к файлам указаны выше.</p>
   <h5> </i></h4>
 

      {% csrf_token %}


      <div class="container">
        <div class="center">


    <br>
    <br 


    <body>
      <center>
         
     
  </body>
   
    {{ form.as_p }}
    <button type= "submit"
    class= "btn btn-success btn-buy">
      загрузить файл
    </button>
  </form>
 
  <button type= "submit" class= "btn btn-warning btn-buy"><a href="{% url 'mainapp:cart-home' %}">вернуться к заказу </button></a>
<br>

</center>





{% endblock %}