{% extends 'products/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="card-body">
<ul class="list-group list-group-flush"></ul>
<div class="container mt-5">
   <div class="row">
      <div class="col-md-9">
         
         <div class="card mb-5" style="height: auto">
            <div class="card-body">
               <h4 class="mb-3">адрес доставки  <span class="text-muted"></span></h4>
               <form method="POST">
                  {% csrf_token %}
                  {{ form | crispy}}
                  <button type="submit" class="btn btn-success float-right">сохранить</button>
               </form>
            </div>
         </div>
         {% if savedAddress %}
         <div class="card mb-5" style="height: auto">
            <div class="card-body">
               <h4>Сохраненный Адрес</h4>
               <p><b>адрес :</b> {{ savedAddress.address }}</p>
               <p><b>почтовый индекс :</b> {{ savedAddress.zipcode }}</p>
               <p><b>номер телефона :</b> {{ savedAddress.cellular }}</p>
               <p><b>ориентир :</b> {{ savedAddress.landmark }}</p>
               <p><b>комментарий к заказу :</b> {{ savedAddress.comments}}</p>
           
            </div>




            <div class="card-body">
               <!-- Здесь отправка email -->
               <!-- <a href="{% url 'checkout:payment' %}" class="btn btn-primary float-right">Договор-оферта</a> -->
               <!-- <a href="{% url 'checkout:send_email' %}" class="btn btn-secondary float-right">Договор-оферта</a>-->
            </div>
         </div>
         {% endif %}   
      </div>



      
      <div class="col-md-3">
         <div class="card" style="height: auto">
            <div class="card-body">
               <ul class="list-group list-group-flush">
                  <h4 class="mb-3">предмет счёта <span class="text-muted"></span></h4>
                  {% for item in order_items %}
                  <!--<li class="list-group-item">{{ item.item.name }} x {{ item.quantity }}</li>-->
                  <li class="list-group-item">
                     {{ item.item.name }}/ {{ item.item.box_size }}/
                     <script>
                        var1 = {{ item.item.lim1}}
                        var2 = {{ item.item.tirazh}}
                        var3 = {{ item.item.lim2}}


                        if ((var1 > var2)) {document.write({{ item.item.lim1}});
                        document.write(x);

                        } else if ((var2 >var3)) {document.write({{ item.item.lim2}});
                        document.write(x);

                        } else {document.write({{ item.item.tirazh}});
                        document.write(x);


                        }


                     </script>
                  </li>
                  {% endfor %}
               </ul>
            </div>
            <div class="card-footer">
               <span class="float-left"><b>сумма</b></span>
               <span class="float-right"><b>₽ {{ order_total | floatformat:0 }}</b></span>
               <span class="float-center"><b>(без учета доставки)</b></span>
               <br>
            </div>
            
         </div>

     <br> 
   
            
                  <div class="col-md-3"></div>
            <div class="card "row" style="height: auto">
               <div class="card-body">
                  <ul class="list-group list-group-flush"></ul>
             
                  <h6 class="mb-3"> введите ваше имя<span class="text-muted"></span></h6>
                  <div class="test_form">
                     <form action="{% url 'checkout:send_email' %}" method="post" >
                        {% csrf_token %}
                        {{ test_form}}
                        <br> <br>
                        <button type="submit" class="btn btn-info float-right">отправить коммерческое предложение</button>
                     </form>
                  </div>
               </div>
            </div>
      </div>
      
   </div>






 


   

 

            <div class="col-md-14">
               <div class="card mb-5" style="height: auto">
                  <div class="card-body">
                     <ul class="list-group list-group-flush"> </ul>
                     <h4 class="mb-3">  <span class="text-muted"></span></h4>
                     <form method="POST" action="{% url 'checkout:charge' %}">
                         {% csrf_token %} спасибо, что вы с нами!
                        <button class="btn btn-secondary float-right" onclick="myFunction()">подтвердить заказ</button>
<!--                        <input type="checkbox" name="option1" id="option1" value="True" checked> Подтвердить-->
<!--                         <button class="btn btn-success float-right" id="fa" name="button" value="True" onclick="myFunction()">Подтвердить заказ</button>-->
                     </form>
                     <p id="demo"></p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <script>
      function myFunction() {
        window.location.href = "/my-orders/";
      }
   </script>
</div>

<div class="card mb-5" style="height: auto">
   <div class="card-body">
     
   </div>


 


 








{% endblock %}