
 
    
    {% extends 'products/base.html' %}
    {% load thumbnail %}
    
    
    
    
    {% load crispy_forms_tags %}
    
    
    
    
    {% block content %}
    
    <h5 class="text-center"><span class="text-muted"></h5></span>
      
    <div class="blog">
    
      <H6 STYLE="font-family: 'avenir next rounded std'">
     <div class="container">
      
   
  
<h1>Качество во главе угла</h1>

   
     <br>
      <div class="row">


        <h3><p class="text-left" > Мы очень хорошо осознаем, что продукция должна быть очень качественной. 
            Поэтому на всех этапах мы отслеживаем качество работ:
      
            <p>•	На этапе подготовки файлов к печати мы проверяем их корректность
            и после проверки высылаем вам на подпись файл в формате pdf.
            <p>•	В работе мы используем самое передовое полиграфическое оборудование немецкой фирмы HEIDELBERG.
                <p>•	При печати специальными приборами в автоматическом режиме мы контролируем плотность краски, раскат краски по бумаге, сведение полиграфических крестов.
                    <p>•	На каждом этапе производства (во время печати и на финишных этапах обработки и отделки) мастер отслеживает качество работ.
                        <p>•	Мы ориентированы на конечный качественный результат.</p>
      
      
<p style="color:rgb(36, 163, 60)" class="text-center" class="text-muted"> <a style="color:rgb(36, 163, 60)"href="mailto:info@005.ru"><i class="fa fa-envelope" aria-hidden="true"></i>info@005.ru </a> 

  <a href="/">
 
      <img src="/media/products/logo_rose.png" width="97" height="65">
 
  </a>

<i class="fa fa-phone"></i>      +7(495) 740-38-93</p></h6></span>  
        <!-- <div class="card"> -->
         <!-- <div class="card-img">
          <img align="center" src="images/posts/polit.jpg" class="img-fluid">
         </div> -->
    
        {% for product in filter.qs %}
      
      <!-- <div class="tile__body list-default__parent"> -->
    
    
        <div class="col-md-3 col-lg-3 col-sm-6">
        
    
            <div class="card">
             <div class="card-img">
              <!-- <img align="center" src="{{ product.mainimage.url }}" class="img-fluid"> -->
              <!-- <img align="center" src="media/{{ product.mainimage }}" class="img-fluid"> -->
              <!-- { % thumbnail 'product.mainimage' "50" as im % } -->
              
                  {% thumbnail product.mainimage "300" as im %}
                    <img align="center" src="{{ im.url }}" alt="not found" class="img-fluid">
                    <!-- { % empty % }
                    <p>No image</p> -->
                {% endthumbnail %}
             </div>
    
            <div class="card-body">
            <H6 STYLE="font-family: 'Courier New'"></H6>
             <h6 class="card-title"><a href="products_by_category/{{ product.id }}"><p style="color:rgb(36, 163, 60)">{{ product.name }}></p></a></h6>
     {{ product.preview_text}} 
      
      
             <p class="card-text">
    
              
              </p>
             </div>
    
            </div>
    
    
      
      </div>
           
        
              
            {% endfor %}
    
       </div>
      </div>
     </div>
    </div>
    </div>
    </div>
    
      
    
    
      <div>
        <h6 class="text-center"></h6> 
        
        </div>
    <br>
    <br>
    <br>
    
    <div 
    

    
              </div>
    
    {% endblock %}
    
    
    
    
    
    <body>
    
      <video controls loop>
        <source src="media/box_production1.mp4" type="video/mp4">
       
        Your browser does not support the video tag.
      </video>





 


   

 


 


 





